.showcase {
  margin: 10px;
}
.showcase .result {
  background: "";
}
.showcase button {
  border: 1px solid black;
  border-radius: 6px;
  background: aliceblue;
  padding: 10px;
}
#getPlaylist {
  margin-top: 10px;
}
#getPlaylist li {
  list-style: none;
  border: 1px solid black;
  border-radius: 6px;
  background: aliceblue;
  padding: 6px 10px;
  margin-bottom: -1px;
  cursor: pointer;
}
#getPlaylist li:hover {
  background: gray;
}
img#cover {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
